@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500;600;700;800&display=swap');


body {
    height: 100%;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

/*----header----*/ 

header {
    font-family: "Baloo Bhaina 2", sans-serif;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 1;
}

#logo {
    float: left;
    padding-left: 5%;
    font-size: 2em;
    margin-top: 3vw;
    color: white;
}

#nav {
    float: right;
    margin-top: 3vw;
    padding-right: 5%; 
}

#nav li {
    list-style-type: none;
    display: inline-block;
    padding-right: 1vw;
}

#nav a {
    font-size: 1.5em;
    padding: .5vw;
    color: white;   
}

.active {
    border: 1px solid white;
}

/*--------Hero Image-----*/

#hero-container {
    height: 800px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
  }

  .hero-image {
    background: url(../img/partyperformance.jpg);
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: auto;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from { 
      transform: scale(1);
    }
  
    to{
      transform: scale(1.055);
    }
  }


/*----Caption within Hero image-----*/

.hero-caption {
    position: absolute;
    top: 50%;
    left: 30%;
    width: 40%;
    height: auto;
    text-align: center;
    background-color: rgba(153, 50, 204,.75);
    letter-spacing: 1.5px;
    color: white;
    padding: 1.5%;
}

.hero-caption h2 {
    font-size: 1.75em;
    padding-top: 5%;
}

.btn-enquire {
    font-family: "Baloo Bhaina 2";
    margin-bottom: 8px;
}

/*------Main-----*/

#main {
    height: auto;
    position: relative;
    overflow: hidden;
    margin: 5%;
}

#main-text {
    margin: 0 auto;
    text-align: center;
    color: blue;
    font-size: 1.25em;
    letter-spacing: 2px;
}

hr {
    border: blue 1px solid;
}

.main-image-container {
    height: 550px;
    overflow: hidden;
    position: relative;
}

.main-image {
    background-image: url("../img/stage_performance.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: auto;
    margin: 0 5% 5% 5%;
}

/*------Reviews-----*/

.reviews i {
    color: grey;
    font-size: 1.50em;
}

.individual-review {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}


/*-------About Page-----*/

/*-------About Image-----*/

.about-img-container {
    height: 700px;
    overflow: hidden;
    position: relative;
    z-index: -2;
  }

  .about-img {
    background: linear-gradient(rgba(150, 33, 228, 0.568),  rgba(255, 0, 0, 0.45)), url("../img/full_band.jpg");
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: auto;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from { 
      transform: scale(1);
    }
  
    to{
      transform: scale(1.055);
    }
}

#about-text-box {
    width: 40%;
    height: auto;
    position: absolute;
    top: 45%;
    right: 10%;
    background-color: rgba(56, 100, 247, .9);
    color: white;
    text-align: center;
}

#about-text-box p {
    padding: 5%;
}

/*--------Main about-----*/

#about-us-section {
    margin: 5% 5% 0 5%;
}

#about-us-section p {
    letter-spacing: 1px;
}

/*----Member profiles-----*/

#member-profile {
    margin: 5% 5% 0 5%;
}

/*------Line Up Exmaples-----*/

#line-up {
    margin: 5%;
}

#line-up p {
    letter-spacing: 1px;
}

/*------For more information on about page------*/

.for-more-info {
    text-align: center;
    margin: 3%;
    font-style: italic;
    font-size: 1em;
}

/*-------Gallery------*/

.gallery_nav {
    position: absolute;  
}

#gallery-background {
    height: 150px;
    overflow: hidden;
}

.background-texture {
    background-image: url("../img/tecture.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70%;
}

/*------About Thirds-----*/

#about-thirds {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.about-thirds-img-left{
    background-image: url("../img/lead_singer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    height: 100%;
    width:33.33%;
}

.image-text{
    background:#FFF;
    opacity:0;
    color: black;
    text-align: center;
    padding-top: 30%;
    width: 100%;
    height: 100%;
    font-size: 2em;
    font-weight: 200;
}

.about-thirds-img-left:hover p{
    opacity:0.8;
}

.about-thirds-img-center{
    background-image: url("../img/wedding_band.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    height: 100%;
    width:33.33%;
}

.about-thirds-img-center:hover p{
    opacity:0.8;
}

.about-thirds-img-right{
    background-image: url("../img/wedding_performance.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    height: 100%;
    width:33.33%;
}

.about-thirds-img-right:hover p{
    opacity:0.8;
}

/*-----Contact Page-----*/

/*------Form------*/

#contact-nav {
    position: absolute;
    z-index: 1;
}

.form {
    height: 800px;
    margin: 0 auto;
    background: url(../img/wedding_band.jpg);
    background-size: cover;
    background-position: center center;
    opacity: .8;
}

.contact-us-form {
    width: 50%;
    height: auto;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    position: absolute;
    padding: 2%;
    margin-top: 10%;
    margin-left: 25%;
}

.contact-us-form h2 {
    color: white;
    text-align: center;
}

.text-input {
    background-color: transparent;
    color: white;
    width: 100%;
    margin: .5% 0 1%;
    border: 1px solid white;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b;
}

textarea {
    min-height: 100px;
    max-height: 200px;
}

.submit {
    background-color: blue;
    color: white;
    border: none;
    padding: 2%;
}

/*-------Contact Us Completed Form------*/

.contact-complete {
    background-color: rgba(0, 140, 65, 0.8);
    width: 50%;
    height: auto;
    position: absolute;
    margin-top: 15%;
    margin-left: 25%;
}

.contact-complete p {
    font-size: 2em;
    color: white;
    font-weight: 500;
    text-align: center;
    padding: 4%;
}

/*----Footer Section*----*/

.site-footer {
    height: 220px;
    background:  linear-gradient(rgba(150, 33, 228, 0.5),  rgba(255, 0, 0, 0.5)), url(../img/wedding_venue.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    font-size: 2em;
    color: white;
}

.footer-container {
    margin-top: 2%;
    color: white;
}

.footer-social {
    margin-bottom: 2%;
}

.footer-social p {
    font-size: .50em;
    margin: 0;
    border-left: solid white .50px;
    display: inline-block;
    padding-left: 1%;
}

.footer-social li {
    list-style-type: none;
    display: inline-block;
}

.footer-social a {
    color: white;
    letter-spacing: 6px;
}

.footer-social i {
    font-size: .50em;
}
.footer-social ul {
    margin: 0;
    text-align: center;
}

.footer-hr {
    border: white solid .5px;
    width: 90%;
    margin: 0 auto;
}

/*----Footer navigation---*/

.footer-nav {
    margin-top: 2%;
}

.footer-nav li {
    list-style-type: none;
    display: inline;
}

.footer-nav ul {
    padding: 0;
    margin: 0;
    text-align: center;
}

.footer-nav a {
    color: white;
    font-size: .50em;
    padding-left: 5%;
}

.copyright {
    font-size: .45em;
    margin: 0;
    float: right;
    padding-right: 5%;
}