/*----Google Fonts----*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500;600;700;800&display=swap');

body {
    height: 100%;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

/*----header----*/ 

header {
    font-family: "Baloo Bhaina 2", sans-serif;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 1;
    background-color: rgba(46, 49, 49, .5);
}

#logo {
    float: left;
    padding-left: 5%;
    font-size: 2em;
    margin-top: 3vw;
    color: white;
}

#nav {
    float: right;
    margin-top: 3vw;
    padding-right: 5%; 
}

#nav li {
    list-style-type: none;
    display: inline-block;
    padding-right: 1vw;
}

#nav a {
    font-size: 1.5em;
    padding: .5vw;
    color: white;   
}

.active {
    border: 1px solid white;
}

/*--------Hero Image-----*/

#hero-container {
    height: 800px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.hero-image {
    /*--Image sourced from The Function Band--*/
    background: url(../img/partyperformance.jpg);
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: auto;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from { 
      transform: scale(1);
    }
  
    to{
      transform: scale(1.055);
    }
}

/*----Caption within Hero image-----*/

.hero-caption {
    position: absolute;
    top: 50%;
    left: 30%;
    width: 40%;
    height: auto;
    text-align: center;
    background-color: rgba(153, 50, 204,.75);
    letter-spacing: 1.5px;
    color: white;
    padding: 1.5%;
}

.hero-caption h2 {
    font-size: 1.75em;
    padding-top: 5%;
}

.btn-enquire {
    font-family: "Baloo Bhaina 2";
    margin-bottom: 8px;
}

/*------Main-----*/

#main {
    height: auto;
    position: relative;
    overflow: hidden;
    margin: 3% 5%;
}

#main-text {
    margin: 0 auto;
    text-align: center;
    color: #0000cc;
    font-size: 1.25em;
    letter-spacing: 2px;
}

hr {
    border: #0000cc 1px solid;
}

.main-image-container {
    height: 550px;
    overflow: hidden;
    position: relative;
}

.main-image {
    /*--Image sourced from The Mini Big Band--*/
    background-image: url("../img/stage_performance.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: auto;
    margin: 0 5% 5% 5%;
}

/*------Reviews-----*/

.reviews i {
    color: #e6e600;
    font-size: 1.50em;
}

.individual-review {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    color: black;
}

/*-------About Image-----*/

.about-img-container {
    height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: -2;
}

.about-img {
    /*--Image sourced from Central Avenue Function Band--*/
    background: linear-gradient(rgba(150, 33, 228, 0.568),  rgba(255, 0, 0, 0.45)), url("../img/full_band.jpg");
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: auto;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from { 
      transform: scale(1);
    }
  
    to{
      transform: scale(1.055);
    }
}

#about-text-box {
    width: 40%;
    height: auto;
    position: absolute;
    top: 45%;
    right: 10%;
    background-color: rgba(56, 100, 247, .9);
    color: white;
    text-align: center;
}

#about-text-box p {
    padding: 5%;
}

/*--------Main about-----*/

#about-us-section {
    margin: 5%;
}

#about-us-section p {
    letter-spacing: 1px;
}

#about hr {
    border: grey solid 1px;
}

.about-video {
    margin-left: 5%;
    width: 90%;
    height: 500px;
}

/*------Line Up Exmaples-----*/

#line-up {
    margin: 5%;
}

#line-up p {
    letter-spacing: 1px;
}

/*------For more information on about page------*/

.for-more-info {
    text-align: center;
    margin: 3%;
    font-style: italic;
    font-size: 1em;
}

/*-------Gallery----*/

#gallery-img {
    clear: both;
    line-height: 0;
    column-count: 2;
    column-gap: 10px;
    padding: 5% 4% 0 4%;
}

#gallery-img img {
    width: 100%;
    float: right;
    padding-bottom: 3%;
}

/*------Form------*/

.form {
    height: 700px;
    margin: 0 auto;
    /*--Image sourced from Google Search on wedding bands*/
    background: url(../img/wedding_band.jpg);
    background-size: cover;
    background-position: center center;
    opacity: .8;
    padding: 10% 25%;
}

.contact-us-form {
    width: 50%;
    height: auto;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    position: absolute;
    padding: 2%;
}

.contact-us-form h2 {
    color: white;
    text-align: center;
}

.text-input {
    background-color: transparent;
    color: white;
    width: 100%;
    margin: .5% 0 1%;
    border: 1px solid white;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b;
}

textarea {
    min-height: 100px;
    max-height: 200px;
}

.submit {
    background-color: blue;
    color: white;
    border: none;
    padding: 2%;
}

/*----Footer Section*----*/

.site-footer {
    height: 220px;
    /*--Image sourced from The Mini Big Band--*/
    background:  linear-gradient(rgba(150, 33, 228, 0.5),  rgba(255, 0, 0, 0.5)), url(../img/wedding_venue.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    color: white;
}

.footer-container {
    padding: 3%;
}

.footer-social {
    text-align: center;
    font-size: 16px;
}

.footer-social ul {
    margin: 0;
    padding: 0;
}

.footer-social li {
    display: inline-block;
    list-style-type: none;
    padding: 0 1%;
}

.footer-social a {
    letter-spacing: 6px;
    color: white;
}

.footer-nav {
    font-size: 16px;
    text-align: center;
}

.footer-nav ul {
    margin: 0;
    padding: 0;
}

.footer-nav li {
    list-style-type: none;
    display: inline-block;
    padding: 3%;
}

.footer-nav a {
    color: white;
}

.footer-hr {
    border: white solid .5px;
    width: 90%;
    margin: 0 auto;
}

/*---Media Query----*/

@media only screen and (max-width: 900px) {

    #logo {
        float: none;
        text-align: center;
        font-size: 1.5em;
        padding: 0;
    }

    #nav {
        float: none;
        text-align: center;
        margin-top: 0;
        padding: 0; 
    }
    
    #nav li {
        padding-right: 0;
    }
    
    #nav a {
        font-size: 1em;
        padding: .5vw;   
    }

    .form {
        padding-top: 17%;
        padding-left: 20%;   
    }

    .contact-us-form {
        width: 60%;
    }

}

@media only screen and (max-width: 700px) {
    
    .hero-caption h2 {
        font-size: 1.50em;
    }

    .hero-caption p {
        font-size: .75em;
    }

    #about-text-box {
        width: 50%;
    }

    #about-us-section h4 {
        font-size: 1.25em;
    }

    #about-us-section p {
        font-size: .75em;
    }

    #line-up h4 {
        font-size: 1.25em;
    }

    #line-up p {
        font-size: .75em;
    }
    
    .form {
        padding-top: 23%;
        padding-left: 18%;   
    }
    
    .contact-us-form {
        width: 65%;
    }

}

@media only screen and (max-width: 500px) {
    
    .hero-caption {
        width: 60%;
        left: 20%;
    }
    .hero-caption h2 {
        font-size: 1em;
    }

    .hero-caption p {
        font-size: .65em;
    }

    #main-text p {
        font-size: .75em;
    }  

    #main-text h4 {
        font-size: 1em;
    }

    #about-text-box {
        width: 80%;
    }

    #gallery-img {
        column-count: 1;
    }

    .form {
        padding-top: 33%;
        padding-left: 13%;   
    }
    
    .contact-us-form {
        width: 75%;
    }

    .contact-us-form h2 {
        font-size: 1.75em;
    }

    .footer-container {
        padding-top: 15%;
    }

    .footer-social {
        font-size: .75em;
    }

    .footer-nav {
        font-size: .50em;
    }

}

@media only screen and (max-width: 300px) {
    
    header {
        height: 75px;
    }

    #logo {
        font-size: 1em;
    }

    #nav {
        margin-top: 0;
    }
    
    #nav li {
        padding-right: 0;
    }
    
    #nav a {
        font-size: .5em;  
    }

    .hero-caption {
        width: 50%;
        left: 25%;
    }

    .hero-caption p {
        font-size: .50em;
    }

    #main-text p {
        font-size: .50em;
    }  

    #main-text h4 {
        font-size: .75em;
    }

    #about-text-box {
        display: none;
    }

    #about-us-section h4 {
        font-size: 1em;
    }

    #about-us-section p {
        font-size: .50em;
    }

    #line-up h4 {
        font-size: 1em;
    }

    #line-up p {
        font-size: .50em;
    }

    .form {
        padding-top: 45%;
        padding-left: 10%;   
    }
    
    .contact-us-form {
        width: 80%;
    }

    .contact-us-form h2 {
        font-size: 1.5em;
    }
}