@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500;600;700;800&display=swap');


* {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}


.uppercase {
    text-transform: uppercase;
}


/*-------------------------------------------------header----*/ 

header {
    font-family: "Baloo Bhaina 2", sans-serif;
    width: 100%;
    height: 100px;
    position: fixed;
}

#logo {
    float: left;
    padding-left: 1.5vw;
    font-size: 2em;
    margin-top: 3vw;
    color: white;
}

#nav {
    float: right;
    margin-top: 3vw;
    padding-right: 1vw;
}

#nav li {
    list-style-type: none;
    display: inline-block;
    padding-right: 1vw;
}

#nav a {
    font-size: 1.5em;
    padding: .5vw;
    color: white;
    
}

.active {
    border: 1px solid white;
}



/*----------------------------Hero Image-----*/

.hero-container {
    height: 800px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    z-index: -2;
  }

  .hero-image {
    background: url(../img/partyperformance.jpg);
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: auto;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from { 
      transform: scale(1);
    }
  
    to{
      transform: scale(1.055);
    }
  }


.hero-caption {
    position: absolute;
    top: 50%;
    left: 30%;
    width: 40%;
    height: auto;
    text-align: center;
    background-color: rgba(153, 50, 204,.75);
    letter-spacing: 1.5px;
    color: white;
    padding: 1.5%;
}


.hero-caption h2 {
    font-size: 2em;
    padding-top: 5%;
}

.hero-caption p {
    font-size: 1em;
}

.btn-enquire {
    font-family: "Baloo Bhaina 2";
    z-index: 1;
    margin-bottom: 8px;

}

/*----------------------------Main-----*/

#main {
    height: 350px;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 2;
    margin: 0 auto;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
}


#main-header {
    margin: 0 auto;
    width: auto;
    height: 100%;
    text-align: center;
    z-index: 1;
    color: blue;
    font-size: 1.25em;
    letter-spacing: 2px;

}

 hr {
    border: blue 1px solid;
 }


.main-image-container {
    height: 550px;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-top: 2%;
}

.main-image {
    background-image: url("../img/wedding_performance.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
}

/*------------------------------Reviews-----*/


.review-container {
    width: 75%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    padding: 5%;

}

.individual-review  {
    padding-top: 5%;

}

.individual-review h4 {
    font-size: 1.25em;
    font-weight: 500;
}

.individual-review p {
    font-size: 1.25em;
    font-weight: 200;
}

.individual-review i {
    text-align-last: center;
    padding: 0;
    letter-spacing: .5em;
    font-size: .75em;
    color: #FEE725;    
    -webkit-text-stroke: .5px grey;
    
}
/*---------------------------------------------------------------About Page-----*/
/*----------------------------About Image-----*/

.about-img-container {
    height: 800px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    z-index: -2;
  }

  .about-img {
    background: url("../img/full_band.jpg");
    background-size: cover;
    background-position: center center;
    height: 90%;
    width: auto;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from { 
      transform: scale(1);
    }
  
    to{
      transform: scale(1.055);
    }
  }


/*----------------------------Main about-----*/

#about {
    height: 400px;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 2;
    padding-right: 5%;
    padding-left: 5%;
}


#about-header {
    margin: 0 auto;
    width: auto;
    height: 100%;
    text-align: center;
    z-index: 1;
    color: blue;
    font-size: .75em;
    letter-spacing: 2px;

}

#about-thirds {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;

}


.about-thirds-img-left{
    background-image: url("../img/lead_singer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    height: 100%;
    width:33.33%;
}

.about-thirds-img-center{
    background-image: url("../img/wedding_band.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    height: 100%;
    width:33.33%;
}

.about-thirds-img-right{
    background-image: url("../img/wedding_performance.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    height: 100%;
    width:33.33%;
}


















/*----------------------------------Footer-----*/

.social {
    text-align: center;
    padding: 2% 0;
}

.social h4 {
    text-align: center;
    font-size: 1.5em;
    color: grey;
}
.social li {
    display: inline;
}

.social a {
    font-size: 1.75em;
    padding: 0 5%;
    color: grey;
}



/*------------------------------------------------------------------------------------Media Query----------*/

@media only screen and (max-width: 1024px) {
    
    .logo {
        font-size: .5em;
    }

    #nav a {
        font-size: 1em;
    }

    /*------------------------------Hero Caption-----*/

    .hero-caption {
        width: 50%;
        left: 25%;
    }
    
    .hero-caption h2 {
        font-size: 1.5em;

    }
    
    .hero-caption p {
        font-size: .75em;
    }

    /*------------------------------Main Section-----*/
    #main-header {
        font-size: 1.10em;
    
    }

   
}


@media only screen and (max-width: 768px) {
    
    
    #logo {
        float: none;
        padding: 0;
        text-align: center;
    }
    
    #nav {
        float: none;
        margin: 0;
        padding-right: 0;
        text-align: center;
  
    }
    

    #nav a {
        font-size: 1em;
    }
    
}
    

@media only screen and (max-width: 650px) {

    #main-header
    h4, 
    hr {
        display: none;
    
    }
}

@media only screen and (max-width: 480px) {
    
    .hero-caption {
        width: 55%;
        left: 24%;
    }
    
    .hero-caption h2 {
        font-size: 1em;

    }
    
    .hero-caption p {
        font-size: .75em;
    }
    
    #main-header {
        padding-top: 7%;
        font-size: .85em;
    }

    .review-container {
        width: 80%;
    
    }


}

@media only screen and (max-width: 320px) {

    .hero-caption p {
        display: none;
    }
    
    #main-header {
        padding-top: 7%;
        font-size: .80em;
    }




}